# Ignorar la carpeta "nombre_carpeta1" y su contenido
venv/

# Ignorar la carpeta "nombre_carpeta2" y su contenido
sort/

# Ignorar la carpeta "nombre_carpeta3" y su contenido
__pycache__/


out.mp4

sample.mp4

test_interpolated.csv

test.csv